In [2]:
import pandas as pd

# Data Cleaning

- Replacing Nan values
- Using mean for numeric 
- Using mode for textual data

In [3]:
bios_df=pd.read_csv('./datasets/bios.csv')
results_df=pd.read_csv('./datasets/results.csv')

### Replace height and weight null values with their respective mean

In [5]:
# Get means rounded to 2 decimal places
height_mean = round(bios_df['height_cm'].mean(), 1)
weight_mean = round(bios_df['weight_kg'].mean(), 1)

# Replace NaN values with rounded means
bios_df['height_cm'] = bios_df['height_cm'].fillna(height_mean)
bios_df['weight_kg'] = bios_df['weight_kg'].fillna(weight_mean)

# Verify the changes and see the rounded means
print("Average height:", height_mean)  # Should show 176.33
print("Average weight:", weight_mean)  # Should show 71.89

Average height: 176.3
Average weight: 71.9

### Handling missing dates

In [8]:
from datetime import datetime, timedelta

def clean_dataset(df):
    """
    Cleans the dataset by handling missing values in born_date and died_date columns.
    
    Parameters:
    df (pandas.DataFrame): The input dataset
    
    Returns:
    pandas.DataFrame: The cleaned dataset
    """
    # Handle missing born_date
    df['born_date'] = pd.to_datetime(df['born_date'], errors='coerce')
    df['died_date'] = pd.to_datetime(df['died_date'], errors='coerce')
    
    # Fill in missing dates
    df.loc[df['born_date'].isna() & df['died_date'].notna(), 'born_date'] = df.loc[df['born_date'].isna() & df['died_date'].notna(), 'died_date'] - timedelta(days=60*365 + 2*30 + 3)
    df.loc[df['died_date'].isna() & df['born_date'].notna(), 'died_date'] = df.loc[df['died_date'].isna() & df['born_date'].notna(), 'born_date'] + timedelta(days=60*365 + 2*30 + 3)
    df.loc[df['born_date'].isna() & df['died_date'].isna(), ['born_date', 'died_date']] = ['1898-07-16', '1969-11-27']
    
    # Convert to datetime
    df['born_date'] = pd.to_datetime(df['born_date'])
    df['died_date'] = pd.to_datetime(df['died_date'])
    
    return df

In [9]:
bios_df=clean_dataset(bios_df)

### Handling missing region information

In [13]:
def replace_nan_with_mode(df):
    """
    Replace NaN values in the DataFrame with the mode of each column, except for 'NOC' which is replaced with 'FRA'.
    
    Parameters:
    df (pandas.DataFrame): The input DataFrame
    
    Returns:
    pandas.DataFrame: The DataFrame with NaN values replaced
    """
    # Replace NaN in 'NOC' column with 'FRA'
    df['NOC'] = df['NOC'].fillna('FRA')
    
    # Replace NaN in other columns with mode
    for col in ['born_city', 'born_region', 'born_country']:
        df[col] = df[col].fillna(df[col].mode().iloc[0])
    
    return df

In [14]:
bios_df=replace_nan_with_mode(bios_df)

In [15]:
bios_df.head(20)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,176.3,71.9,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,2029-05-19
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,176.3,71.9,1930-07-25
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,2030-03-02
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,2030-01-14
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,176.3,71.9,1987-04-02
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,176.3,71.9,1986-08-01
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,176.3,71.9,1923-08-27
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,176.3,71.9,1932-11-18
11,12,Max Decugis,1882-09-24,Paris XVIe,Paris,FRA,France,176.3,71.9,1978-09-06
12,13,J. Defert,1898-07-16,Budapest,England,USA,France,176.3,71.9,1969-11-27
13,14,Étienne Durand,1898-07-16,Budapest,England,USA,France,176.3,71.9,1969-11-27
14,15,Damien Éloi,1969-07-04,Vire,Calvados,FRA,France,165.0,58.0,2029-08-21
15,16,Adrien Fauchier-Magnan,1873-11-19,Paris VIIIe,Paris,FRA,France,176.3,71.9,1965-08-06
16,17,Guy Forget,1965-01-04,Casablanca,Casablanca-Settat,MAR,France,189.0,79.0,2025-02-21
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,2028-12-03
18,19,Maurice Germot,1882-11-15,Vichy,Allier,FRA,France,176.3,71.9,1958-08-06
19,20,André Gobert,1890-09-30,Paris XVIIe,Paris,FRA,France,176.3,71.9,1951-12-06

### Below output show, no null values remain in bios_df

In [16]:
print(bios_df.isna().sum())

athlete_id      0
name            0
born_date       0
born_city       0
born_region     0
born_country    0
NOC             0
height_cm       0
weight_kg       0
died_date       0
dtype: int64

# Handling `result_df` dataset

In [19]:
print(results_df.isna().sum())

year            2601
type            2601
discipline         1
event              0
as                 0
athlete_id         0
noc                1
team          186694
place          25215
tied               0
medal         264269
dtype: int64

In [20]:
results_df.columns

Index(['year', 'type', 'discipline', 'event', 'as', 'athlete_id', 'noc',
       'team', 'place', 'tied', 'medal'],
      dtype='object')

In [21]:
results_df.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

### Handling nan values in these columns: `['year', 'type', 'medal', 'place', 'team', 'discipline']`

In [22]:

def replace_nan_values(df):
    """
    Replace NaN values in the DataFrame with appropriate measures of central tendency.
    
    Parameters:
    df (pandas.DataFrame): The input DataFrame
    
    Returns:
    pandas.DataFrame: The DataFrame with NaN values replaced
    """
    # Replace NaN in 'year', 'type', 'medal', 'place', 'team', 'discipline' columns with mode
    for col in ['year', 'type', 'medal', 'place', 'team', 'discipline']:
        df[col] = df[col].fillna(df[col].mode().iloc[0])
    
    # Replace NaN in 'noc' column with 'FRA'
    df['noc'] = df['noc'].fillna('FRA')
    
    return df

In [23]:
results_df=replace_nan_values(results_df)

In [24]:
results_df.head(20)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,United States,17.0,True,Bronze
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,5.0,False,Bronze
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,United States,32.0,True,Bronze
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,Bronze
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,Bronze
5,1996.0,Summer,Tennis,"Singles, Men (Olympic)",Arnaud Boetsch,2,FRA,United States,17.0,True,Bronze
6,1996.0,Summer,Tennis,"Doubles, Men (Olympic)",Arnaud Boetsch,2,FRA,Guillaume Raoux,17.0,True,Bronze
7,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Jean Borotra,3,FRA,United States,4.0,False,Bronze
8,1924.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean Borotra,3,FRA,Marguerite Billout,15.0,True,Bronze
9,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean Borotra,3,FRA,René Lacoste,3.0,False,Bronze
10,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jacques Brugnon,4,FRA,United States,9.0,True,Bronze
11,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jacques Brugnon,4,FRA,Jean-François Blanchy,4.0,False,Bronze
12,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jacques Brugnon,4,FRA,Henri Cochet,2.0,False,Silver
13,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Albert Canet,5,FRA,United States,17.0,True,Bronze
14,1912.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Albert Canet,5,FRA,Marguerite Broquedis,3.0,False,Bronze
15,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Albert Canet,5,FRA,Édouard Mény de Marangue,3.0,False,Bronze
16,1992.0,Summer,Table Tennis,"Singles, Men (Olympic)",Nicolas Chatelain,6,FRA,United States,33.0,True,Bronze
17,1992.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Nicolas Chatelain,6,FRA,Patrick Chila,17.0,True,Bronze
18,1992.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Patrick Chila,7,FRA,Nicolas Chatelain,17.0,True,Bronze
19,1996.0,Summer,Table Tennis,"Singles, Men (Olympic)",Patrick Chila,7,FRA,United States,9.0,True,Bronze

In [25]:
print(results_df.isna().sum())

year          0
type          0
discipline    0
event         0
as            0
athlete_id    0
noc           0
team          0
place         0
tied          0
medal         0
dtype: int64

### Now null count is 0 as shown above in output.

### Saving data after cleaning.

In [26]:
bios_df.to_csv('./cleaned_data/bios.csv', index=False)
results_df.to_csv('./cleaned_data/results.csv', index=False)